.login-root {
    width: 463px;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.welcome-text {
    color: #6B6C70;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 8px;
}

.login-text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
    color: #FFF;
    margin-bottom: 30px;
}

.input-wrapper {
    width: 100%;
    margin-bottom: 16px;
}

.login-button {
    width: 100%;
}

.not-registered {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    color: #7F8084;
    margin-top: 8px;
    & span {
        color: #C5C7CA;
    }
}

.close-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.close-button {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131319;
    color: white;
    padding: 4px;
}